{% extends 'base.html' %}
{% block content %}
<div class = 'container-fluid d-flex'>
<p>
    <a href="#">{{posting.title}}</a>
    {{posting.created_at}}
</p>
<p>
    {{posting.content}}
</p>
{% if request.user.is_authenticated %}

{% if request.user.username == posting.user.username %}
<p>
    <a href="">
        <button>수정</button>
    </a>
    <form action="{% url 'blog:delete' posting.pk %}" method = "POST">
        <button>삭제</button>
    </form>
</p>
{% comment %} {% else %}
<form method = "POST"></form> {% endcomment %}
{% endif %}
{% endif %}
</div>
{% endblock content %}